# Database Settings
DATABASE_URL="mysql://root:password@localhost:3306/db_nilai_madrasah"

# Server Settings
PORT=5000
NODE_ENV=development

# Authentication
JWT_SECRET="supersecretkeychangeitinproduction"
JWT_EXPIRES_IN="1d"
